.page {
  min-height: 100vh;
  background-color: rgb(31, 31, 31);
  width: 100%;
}

.button {
  background-color: orangered;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
